Eliminamos márgenes y ponemos fondo de página negro
html,body {
  margin:0;
  background:#000;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  position: relative;
  background-color: aqua;
}

/* Bernard Bernoulli: Animación del personaje */
#bird {
  /* Tamaño de la viñeta individual */
  width:130px;
  height:130px;
  /* Cómo hay establecido un tamaño, centramos con margin:auto */
  /* margin:auto;   */
  /* Cargamos el sprite (el repeat-x se puede omitir, por defecto se repite) */
  /* background:url('../assets/images/pajaro.png') repeat-x; */
  /* Aplicamos la animación "walk": 0.8seg, 6 viñetas y repetimos infinitamente */
  animation:walk .3s steps(3) infinite;
  /* Posicionamos el personaje sobre el camino de madera */
  position:relative;
  /* bottom:34px; */
}

/* Animación de personaje caminando: Simplemente mueve el sprite sheet hacia la izquierda, realizando el movimiento. */
@keyframes walk {
  /* Partimos de la primera viñeta del sprite sheet */
  0% { background-position:0 }
  /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
  100% { background-position:-390px }
}

.enemigo {
  width: 50px;
  height: 50px;
  background-size: cover;
  position: absolute;
}

/* .cano {
  width: 150px;
  height: 160px;
  position: absolute;
  background-size: cover;
  bottom: 0;
}

.cano-superior {
  width: 150px;
  height: 160px;
  position: absolute;
  background-size: cover;
  top: 0;
  /* El resto igual que .cano */
/* } */ */

#bird {
  border: 1px solid blue !important; /* Haz que el borde del pájaro siempre sea visible */
}
.enemigo {
  border: 1px solid green !important; /* Borde del enemigo siempre visible */
}
.cano {
  border: 1px solid orange !important; /* Borde del caño siempre visible */
}
